{erl_opts, [debug_info]}.

{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, master}}}
]}.

{relx, [{release, {mrebar, "0.0.1"},
         [mrebar],
         [{dev_mode, false},
          {include_erts, true}]}
]}.
							     
{profiles,[
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{dev_mode, false}]}
	]},
    {dev, []}
]}.